body {
  background: linear-gradient(#0000FF, #FFFFFF) repeat fixed 0 0 rgba(0, 0, 0, 0);
}

aside {
  position: fixed;
  left: 0;
  width: 15%;
}

object {
  width: 100%;
}

#main {
  position: absolute;
  right: 0;
  width: 85%;
}

article {
  padding: 2px;
}

a {
  text-decoration: none;  
}

a:link {
  color: white;
}

a:hover {
  text-decoration: underline;  
}

a:visited {
  /* text-decoration: line-through; XXX not working in Firefox */
  color: darkblue;
}